<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/css/style.css" type="text/css"/>
		<title>NYT  Scrape news service!</title>
		
		 <!-- We link our html to the Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {{!-- <script src="https://code.jquery.com/jquery.js"></script>
		<script src="../server.js"></script> --}}

		
		
		
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
          <li><a href ="/">NY Times Scraper
		      <li><a href="/">Scrape</a></li>
		      <li><a href="/articles">Saved</a></li>
		     
		    </ul>
		  </div>
		</nav>
          <div class="wrapper">
			  {{{ body }}}
		</div>

		   
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../server.js"></script>

	</body>
</html>

