
<ul>
  {{#each articles}}
    {{#unless saved}}
     <li>

       <a href="{{link}}"><h2>{{title}}</h2></a>

       <button  data-id="{{_id}}" class="saveArticleBtn">Save Article!</button>

     </li>
    {{/unless}}
  {{/each}}
</ul>

